# Add any directories, files, or patterns you don't want to be tracked by version control

**.asv
**.log

/CasADiFunctions/*
!/CasADiFunctions/CreateCasadiFunctions.m

/Data/
!/Data/Fal_s1.mat

/ExperimentalData

/ExternalFunctions/old

/Figures/*

/IG/Data

/Polynomials/old

/Results/*

/RunSim/*
!/RunSim/BatchRunQueue
!/RunSim/PredSim
!/RunSim/PostProcess_SimulationFolder

/StaticStanding

/Polynomials/MuscleAnalysis/ResultsMA/

/OpenSimModel/Generic/
/OpenSimModel/subject1/old/
/OpenSimModel/subject1/old_v2/



